.width50 {
  width:50%;
}

.width100 {
  width:100%;
}

.marginTop20 {
  margin-top:20px;
}

.padTop {
  padding-top:20px;
}

.padBottom {
  padding-bottom:20px;
}

.clickable {
  cursor:pointer;
}

.pull-right {
  text-align:right;
}

.small-text {
  font-size:0.6em;
}

.wide-input {
  width:200px;
}

.very-wide-input {
  width:400px;
}

.flexRow {
  display:flex;
  flex-direction: row;
}

.header-app-link {
  margin-top:4px;
  margin-left:4px;
}

.header-settings-gear {
  margin-top:4px;
  margin-right:4px;
}

.preview-time-settings-dropdowns {
  display:flex;
  flex-direction:row;
  justify-content:center;
  gap:1em;
  padding-top:16px;
  padding-bottom:16px;
}

.spaceBetween {
  justify-content:space-between;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.alignEnd {
  align-items:flex-end;
}

.clock-time-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:0.2em;
}

.preview-timezone-modal-contents {
  display: flex;
  flex-direction: column;
  gap:1em;
}

.hidden-li {
  list-style: none;
  padding-left:0px;
}

.no-underline {
  text-decoration: none;
}

.app-theme-choices li { 
  padding:10px 0;
}

.narrow-screen {
  display:none;
}

.app-title {
  font-size:1em;
}

.app-title-tiny {
  margin:0px;
  padding: 6px 6px 0px 6px;
  font-size:1em;
  display:flex;
  justify-content:space-between;
}

.app-subtitle {
  font-size:.6em;
  line-height:.6em;
}

.page {
  padding:0px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.header-clock-container {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.header-clock-and-date {
  display:flex;
  flex-direction:column;
  align-items:center;
  padding-bottom:10px;
}

.header-row-item a {
  text-decoration: none;
}

.navigation-links a {
  font-size:1em;
  color:black;
  text-decoration: none;
}

.navigation-links a:visited {
  color:black;
}

.navigation-links ul {
  list-style-type: none;
  display: flex;
  flex-direction:column;
  justify-content: right;
  margin-right:30px;
}

.navigation-links ul li {
  display: inline;
}

.clocks-quick-options {
  display:flex;
  flex-flow:row;
  justify-content:right;
  padding:10px;
  gap:20px;
  justify-content:start;
}

.clocks-row-container {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:12px;
  margin:10px 0 10px 0;
  width:100%;
}

.clock-container {
  display:flex;
  flex-direction:column;
  border-radius:1px;
  text-align:center;
  font-size:1.3em;
  min-width:210px;
  padding:12px 4px;
  gap:1px;
}

.clock-container .clock-time-container {
  margin-top:10px;
}

.clock-top-row-container {
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.clock-display-offset {
  height:20px;
}

.clock-display-date {
  font-size:0.6em;
  font-weight:normal;
}

.timezone-select-button {
  padding:0px !important;
  border:0px !important;
}

.time-col-container {
  flex-direction: column;
}

.clock-manage-button-container {
  display:flex;
  justify-content:center;
}

.modal-label {
  font-weight:bold;
}

.nickname-button {
  padding:0 !important;
  text-decoration:none !important;
}

.delete-clock-div {
  display:flex;
  justify-content:right;
}

.select-timezone {
  color:black;
}

.edit-clock-name-row {
  display:flex;
  justify-content:space-between;
  margin:0 0 10px 0;
}

.time-item {
  flex-grow:1;
}

.timestamp {
  font-variant-numeric: tabular-nums lining-nums;
}

.time-stamp-display {
  font-size:2.0em;
  line-height:1.18em;
}

.my-clock .time-stamp-display {
  font-size:2.8em;
}

.my-clock .meridiem {
  font-size:1.8em;
}

.blue-border {
  border: 1px solid blue;
}

.clock-extra-info-container {
  padding:10px;
  height:82px;
  cursor:pointer;
}

.clock-link-nickname {
  height:32px;
  font-size:.6em !important;
  text-decoration: none !important;
  width:80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clock-link-timezone {
  font-size:.7em !important;
  border:none !important;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none !important;
}

.name-clock-link.btn.btn-sm {
  font-size: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  padding:10px;
  display:flex;
  justify-content:space-between;
}

.counter-container {
  display:flex;
  flex-direction:column;
}

.counter-item {
  flex:1;
}

.settings-page {
  width:100%;
  display:flex;
  flex-direction:column;
  align-content:start;
}

.settings-container {
  margin: 10px;
}

.previous-calculations-title {
  margin-top:20px;
}

.modal-bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.timezone-input::placeholder {
  color:#282c34 !important;
}

.timezone-picker-list {
  height:300px;
  position:relative;
  overflow-y:auto;
  padding-left:0px;
  border: 1px solid #e6ebec;
  border-radius: 0 0 3px 3px;
  background-color:white;
}

.timezone-picker-list-item {
  padding: 3px 12px;
  margin-left:0;
  background:white;
}

.timezone-picker-list-item-focused {
  background: #ececec;
}

.timezone-picker-list-item:hover {
  background: #ececec;
}

.timezone-picker-list li {
  list-style:none;
}

@media only screen and (max-width: 780px) {

  .page {
    padding:0;
  }

  .clocks-row-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:0px;
    gap:0px;
    margin:0px;
  }

  .clock-extra-info-container {
    padding:10px;
    height:62px;
    cursor:pointer;
  }

  .clock-top-row-container {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }

  .clock-container {
    width:100%;
    flex-basis:50%;
  }

  .clock-container:hover {
    filter: brightness(115%);
  }

  .name-clock-link {
    text-align:left !important;
    width:180px;
    padding:0px !important;
  }

  .clock-manage-button-container {
    justify-content:left;
  }

  .time-col-container {
    padding-top:0px;
  }

  .time-stamp-display {
    font-size:1.8em;
  }

  .navigation-links ul {
    margin-right:2px;
  }

  .browser-time {
    text-align:center;
    font-size:2em;
  }
}

.clock-display-preview-time {
  font-size:.8em;
}

@media only screen and (max-width:450px) {

  .clocks-row-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .name-clock-link {
    width:160px;
  }
}

/* Narrowest screen - clocks are 100% of screen width */
@media only screen and (max-width: 360px) {

  .clock-container {
    flex-basis:100%;
  }

  .name-clock-link {
    text-align:left;
    width:240px;
  }

  .clock-top-row-container {
    justify-content:left;
  }

}